@model FatherGolf.Models.Golfer

@{
    ViewData["Title"] = "AddGolfer";
}

<h1>AddGolferView</h1>

<h4>Golfer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddGolfer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Handicap" class="control-label"></label>
                <input asp-for="Handicap" class="form-control" />
                <span asp-validation-for="Handicap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Totalrounds" class="control-label"></label>
                <input asp-for="Totalrounds" class="form-control" />
                <span asp-validation-for="Totalrounds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
